// Header
header.header
    nav.nav.nav--tours
        a.nav_el(href='#') All tours
    div.header__logo
        img(src='img/logo-white.png' alt='Natours Logo')
    div.nav.nav--user
        //- a.nav-el(href='#') My Bookings
        //- a.nav-el(href='#')
        //-     img.nav__user-img(src='img/user.jpg' alt='User photo')
        //-     span Jonas
        button.nav__el Log In
        button.nav__el.nav__el--cta Sign Up